<%- include('partials/headerNoLogin') -%>


<main class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-4 main-container">
        <a href="/login" class="btn btn-custom">Login</a>
        <a href="/signup" class="btn btn-custom">Signup</a>
      </div>
    </div>
  </main>

<%- include('partials/footer') -%>