<%- include('partials/header') -%>


  <main class="container">
    <div class="row justify-content-center">
      <section class="col-md-6 mt-5">
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach(el=> { %>
            <div class="alert alert-danger">
              <%= el.msg %>
            </div>
            <% }) %>
              <% } %>
                <% if (locals.messages.info) { %>
                  <% messages.info.forEach(el=> { %>
                    <div class="alert alert-info">
                      <%= el.msg %>
                    </div>
                    <% }) %>
                      <% } %>
                        <div class="form-section">
                          <h2>Signup</h2>
                          <form action="/signup" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                              <label for="userName" class="form-label">User Name</label>
                              <input type="text" class="form-control" id="userName" name="userName" required>
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Email Address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" name="email" required />
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                              <label for="password" class="form-label">Password</label>
                              <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="mb-3">
                              <label for="confirmPassword" class="form-label">Confirm Password</label>
                              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                required>
                            </div>
                            <div class="mb-3">
                              <input type="file" class="form-control" name="file" required>
                            </div>
                            <div class="mb-3">
                              <fieldset name="favoriteGenres">
                                <legend>Choose your favorite genres:</legend>

                                <div>
                                  <input type="checkbox" id="Hip-Hop" name="Hip-Hop" />
                                  <label for="Hip-Hop">Hip-Hop</label>
                                </div>
                                <div>
                                  <input type="checkbox" id="Rock" name="Rock" />
                                  <label for="Rock">Rock</label>
                                </div>
                                <div>
                                  <input type="checkbox" id="Pop" name="Pop" />
                                  <label for="Pop">Pop</label>
                                </div>
                                <div>
                                  <input type="checkbox" id="Jazz" name="Jazz" />
                                  <label for="Jazz">Jazz</label>
                                </div>
                                <div>
                                  <input type="checkbox" id="Classical" name="Classical" />
                                  <label for="Classical">Classical</label>
                                </div>
                              </fieldset>
                            </div>
                            <button type="submit" class="btn btn-custom">Submit</button>
                          </form>
                        </div>
      </section>
    </div>
  </main>



  <%- include('partials/footer') -%>