body {
  background-color: #f8f9fa;
}
.section {
  border: 1px solid #dee2e6;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.now-playing {
  height: 400px; /* Twice the size */
}
.recommendations {
  font-size: 0.9rem; /* Slightly smaller font */
}
.comment-section {
  margin-top: 30px;
}
  .container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  .column {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
  }


/* Additional Styling */

.jamTitleSection, 
.myAudioClipsSection,
.currentJamSection,
.allUsersSection,
.jamCollaboratorsSection,
.commentInputSection,
.commentSection {
  border: 5px solid black;
}